@charset "utf-8";
/* CSS Document */

/*
#1C263C
#313C53
#455268
#B6C0D2
#9CFF00
#FFFFFF

*/
body {
    background-image: url("https://pre00.deviantart.net/e810/th/pre/f/2013/147/1/e/1e9bb8554f534067f2e52bb2b9eaea3b-d63kxbv.jpg");
    background-size: 2000px 2500px;
    background-attachment: fixed;
}


header {
    font-size: 36px;
    font-family: Gotham, "sans-serif";
    background-image: #b536f0;
}

header {
    padding: 1em;
    color: #9CFF00;
    background-color: #1C263C;
    clear: left;
    text-align: center;
}

/* Navigation Bar */
nav {
    margin: 0;
    padding: 0;
}
nav ul li a:hover {
    background-color: #313C53;
}
nav ul {
    list-style-type: none;
    padding: 8px 0;
    margin: 0;
    overflow: hidden;
    background-color: #455268;
}
nav ul a {
    text-decoration: none;
}
nav ul li {
    float: left;
}
nav ul li a {
    color: #9CFF00;
    padding: 0 16px;
    margin: 8px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

.viewing {
    background-color: #313C53;
    outline: solid #9CFF00 1px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 96.9%;
}

.center {
    align-self: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-left: 20%;
}